<!-- <form #loginForm="ngForm" (ngSubmit)="sumbitFrm(login)">
  <input type="text" name="email" [(ngModel)]="login.email">
  <input type="password" name="password" [(ngModel)]="login.password">
  <button type="submit">Submit</button>
</form> -->
<form #loginForm="ngForm" (ngSubmit)="sumbitFrm(login)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food"  type="text" name="email" [(ngModel)]="login.email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food"  type="password" name="password" [(ngModel)]="login.password">
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>