
<div>
  <mat-card>
    <mat-card-content>
        <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
            
          </div>
    </mat-card-content>
    <mat-card-footer>
        <h2>PAYMENTS</h2>
      </mat-card-footer>
  </mat-card>
</div>