<div>
    <mat-card>
        <mat-card-content>
            <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
        </mat-card-content>
        <mat-card-footer>
          <h2>HEALTH PACKAGES</h2>
        </mat-card-footer>
    </mat-card>
</div>
<div fxLayout="row">
        <div fxFlex="100">
               <br><br>
    
    
               <!-- <ngx-datatable
               #myTable
               class='material fullscreen'
               [rows]='rows'
               [headerHeight]="50"
               [footerHeight]="50">
    
               <ngx-datatable-column name="Name" prop="name">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.name}}
                    </ng-template>
                  </ngx-datatable-column>
    
               </ngx-datatable> -->
    
               <!-- <input
               type='text'
               style='padding:8px;margin:15px auto;width:30%;'
               placeholder='Type to filter the name column...'
               (keyup)='updateFilter($event)'
             /> -->
             <mat-input-container>
                    <input type="text" style='width:70%;' matInput type='text' placeholder='Search provider by city..' (keyup)='updateFilter($event)' />
                  </mat-input-container>
              <ngx-datatable
                    #myTable
                    class='material expandable'
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [scrollbarV]="true"
                    [rows]='rows'
                    [limit]="10"
                    [messages]="{emptyMessage: 'No record'}">
                <!-- <ngx-datatable-column
                    class="material"
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="true"
                    [draggable]="false"
                    [canAutoResize]="false">
                
                </ngx-datatable-column> -->
                <ngx-datatable-column name="East Zone" [flexGrow]="3" [maxWidth]="200" prop="name">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.east}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="West Zone" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.west}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="North Zone" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.north}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="South Zone" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{row.south}}
                    </ng-template>
                </ngx-datatable-column>
        </ngx-datatable>
        </div>
    </div> 